{% extends 'users/base.html' %}

{% block title %}Home{% endblock title %}


{% block content %}

    {% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        Welcome to our site, {{ user.email }} !
    </div>
        {% if user.is_staff or user.is_admin %}
        <div class="alert alert-info" role="alert">
            <li>You can Login existing users with "Magic" button</li>
            <li>You also can Signup and Login new users with "Signup" button</li>
        </div>
        {% endif %}
    {% else %}
    <div class="alert alert-danger" role="alert">
        You don't have access to our site.
        <br>
        If you are existing or new User, tell us your Email and we will send you a magic link for full access.
    </div>
    {% endif %}

{% endblock content %}