{% extends 'users/base.html' %}

{% block title %}Magic{% endblock title %}

{% block content %}

<div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center">
        {% if request.user.is_authenticated and request.user.is_staff %}
        <div class="col-md-6 shadow-sm p-3 mb-5 bg-white rounded">
            <h3 class="bg-light p-4">Login existing User with Magic link url</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-success">Send</button>
            </form>
            {% for user in users %}
            <div class="bg-light p-4 mt-3">
                User <span class="text-success">{{ user.email }}</span> checked out the link
                <span class="text-success p-2">{{ user.views }}</span> times
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}




